/.bundle
/bundle
/**/*.swp
/log/*
/tmp
/coverage
/public/assets
/config/config-local.yml
/bin/pharos
/env.sh
.rspec
/kubernetes/tmp
/kubernetes/manifests
/kubernetes/salt/config/minion.d/_schedule.conf
/.vagrant
