.discovery-control {
  margin-bottom: 10px;

  i {
    margin-left: 10px;
  }

  span {
    margin-right: 15px;
  }

  .btn {
    font-weight: normal;
  }
}

.nodes-container {
  .panel-title {
    display: inline-block;
  }

  form {
    height: 450px;
    margin-bottom: $line-height-computed;
    overflow-x: hidden;
    overflow-y: scroll;

    table {
      margin-bottom: 0px;
    }
  }
}

.nodes-summary {
  .fa-info-circle {
    margin-left: 5px;
  }

  dl {
    margin-bottom: 0;
  }

  dt {
    margin-bottom: 7px;
  }

  .left-column dd {
    margin-left: 107px;
  }

  .right-column dd {
    margin-left: 235px;
  }
}

.admin-outdated-notification {
  background-color: #d9edf7;
  color: #31708f;
  text-align: right;

  .message,
  .failed-message {
    float: left;
    line-height: 34px;
  }

  .failed-message {
    display: none;
  }

  .actions {
    text-transform: uppercase;

    .btn-link {
      font-weight: bold;
    }
  }

  .fa {
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle;
  }

  &--failed {
    background-color: #f2dede;
    color: #a94442;

    .message {
      display: none;
    }

    .failed-message {
      display: inline-block;
    }
  }
}

.update-admin-modal {
  .modal-dialog {
    width: 450px;
  }
}
