.discovery-control {
  margin-bottom: 10px;

  i {
    margin-left: 10px;
  }

  span {
    margin-right: 15px;
  }

  .btn {
    font-weight: normal;
  }
}

.nodes-container,
.pending-nodes-container {
  form {
    height: 450px;
    margin-bottom: $line-height-computed;
    overflow-x: hidden;
    overflow-y: scroll;

    table {
      margin-bottom: 0px;
    }
  }

  .table {
    .status {
      // 8px from default table +
      // 6px to align with 'Status' column name
      padding-left: 14px;

      > .fa-stack {
        margin-right: 8px;
      }

      > .fa {
        margin-left: 2px;
        margin-right: 10px;
        vertical-align: middle;
      }
    }

    input[type="radio"] {
      vertical-align: middle;
      margin-top: 0;
      margin-right: 5px;
    }

    td {
      vertical-align: middle;
    }
  }
}

.nodes-summary {
  .fa-info-circle {
    margin-left: 5px;
  }

  dl {
    margin-bottom: 0;
  }

  dt {
    margin-bottom: 7px;
  }

  .left-column dd {
    margin-left: 122px;
  }

  .right-column dd {
    margin-left: 235px;
  }
}

.admin-outdated-notification {
  background-color: #d9edf7;
  color: #31708f;
}

.admin-migration-notification {
  background-color: #d4edda;
  color: #155724;
}

.admin-outdated-notification,
.admin-migration-notification {
  text-align: right;

  .message,
  .failed-message {
    float: left;
    line-height: 34px;
  }

  .failed-message {
    display: none;
  }

  .actions {
    text-transform: uppercase;

    .btn-link {
      font-weight: bold;
      visibility: hidden;
    }
  }

  .fa {
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle;
  }

  &--reboot,
  &--install {
    .actions .btn-link {
      visibility: visible;
    }
  }

  &--maintenance {
    .actions .btn-link {
      visibility: hidden;
    }
  }

  &--failed {
    background-color: #f2dede;

    &, .btn-link {
      color: #a94442;
    }

    .message {
      display: none;
    }

    .failed-message {
      display: inline-block;
    }
  }
}

.update-admin-modal,
.migrate-admin-modal {
  .modal-dialog {
    width: 450px;
  }
}

.pending-nodes-container {
  margin-top: 15px
}

.role-column {
  position: relative;
  width: 1px;
  white-space: nowrap;

  input {
    position: absolute;
  }
}

.role-btn-group {
  .btn {
    float: none;
    font-weight: normal;
  }

  .btn:not(:first-child) {
    margin-left: -5px;
  }
}

#retry-cluster-bootstrap, #retry-cluster-upgrade {
  margin-right: 10px;
}

.actions-column {
  &.removal-failed {
    .force-remove-node-link {
      display: block;
    }

    .remove-node-link {
      display: none;
    }
  }

  .force-remove-node-link {
    display: none;
  }
}
