.settings-details {
  margin-bottom: 30px;

  .field {
    margin-bottom: 15px;
  }

  .details-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .details-value {
    margin-bottom: 5px;
  }

  .details-value-certificate {
    margin-bottom: 5px;
  }
}

.settings-content .mirror-form {
  .add-entry-btn {
    margin-bottom: 0;
  }
}
