---
http_interactions:
- request:
    method: get
    uri: https://scc.suse.com/connect/systems/activations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcm5hbWU6cGFzc3dvcmQ=
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Scc-Api-Version:
      - v4
      Etag:
      - W/"270f877c82f24034e98590ad0bf759c5"
    body:
      encoding: UTF-8
      string: '[{"regcode":"valid_regcode","status":"ACTIVE","service":{"product":{"identifier":"CAASP"}}}]'
  recorded_at: Fri, 19 May 2017 10:07:55 GMT
recorded_with: VCR 3.0.3
