---
http_interactions:
- request:
    method: get
    uri: https://scc.suse.com/connect/systems/subscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic U0NDXzJjOTRiOThlM2RiMzQ1MzhhMmNjOGRkZWRlOTQ2MTcxOjJiN2MxOGYyYmE0NzRmYmE=
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Scc-Api-Version:
      - v4
      Etag:
      - W/"6171e1469996c90bd19cd803fe26ccb7"
    body:
      encoding: UTF-8
      string: '[{"id":1,"regcode":"thisisavalidregcode","name":"Other x86_64 subscription","status":"ACTIVE","starts_at":"2017-03-16T14:19:06.641Z","expires_at":"2018-03-11T14:19:06.641Z","system_limit":-1,"systems_count":7,"virtual_count":null,"product_classes":["OTHERPRODUCT_X86"],"systems":[{"id":1,"login":"valid_username","password":"valid_password"},{"id":2,"login":"valid_username","password":"valid_password"},{"id":3,"login":"valid_username","password":"valid_password"},{"id":4,"login":"valid_username","password":"valid_password"},{"id":5,"login":"valid_username","password":"valid_password"},{"id":6,"login":"valid_username","password":"valid_password"},{"id":7,"login":"valid_username","password":"valid_password"}],"product_ids":[1484]}]'
  recorded_at: Wed, 22 Mar 2017 15:46:54 GMT
recorded_with: VCR 3.0.3
