.alerts-container {
  min-height: 0;
}

.alert-danger a,
.alert-info a,
.alert-success a {
  font-weight: bold;
}

.alert-danger a {
  color: $state-danger-text;
}

.alert-info a {
  color: $state-danger-text;
}

.alert-success a {
  color: $state-danger-text;
}

.connection-failed-alert {
  display: none;
}