<div class="modal fade warn-minimum-nodes-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal-label">
          Cluster is too small
        </h4>
      </div>
      <div class="modal-body">
        <p>You are going to deploy a cluster made by only one master and one worker node.</p>

        <p>This kind of clusters is meant to be used only for development/testing/evaluation of <%= product_name %> and is not a supported topology</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary bootstrap-anyway">Proceed anyway</button>
      </div>
    </div>
  </div>
</div>
