// Background color for mail container
$velum-container-bg:          #f0f1f3;

html,
body {
    height: 100%;
}

dl.side-by-side {
  dt {
    float: left;
    margin-right: 5px;
  }

  dd::after {
    content: " ";
    display: block;
    clear: left;
  }
}

a.disabled {
    cursor: not-allowed;
    opacity: 0.65;
}

.container {
  background-color: $velum-container-bg;
  min-height: 100%;
  position: relative;
  padding-bottom: 45px;

  .alert {
    margin-top: $line-height-computed;
    margin-bottom: 0px;

    i {
      bottom: 10px;
      position: relative;
    }
  }

  .btn-table {
    margin-bottom: 5px;
  }

  .panel-body {
    > .table,
    > table {
      margin-bottom: 0
    }
  }

  table,
  .table {
    td, th {
      vertical-align: middle;
    }
  }

  h1 {
    margin: 30px 0px;
  }

  .steps-container .btn-danger {
    margin-right: $line-height-computed;
  }

  footer {
    bottom: 0px;
    margin-bottom: 15px;
    position: absolute;
    width: 100%;

    p {
      margin: 0px;
      font-size: 11px;
    }
  }
}

@import 'pages/**/*';
